In [209]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [210]:
#for single link testing #link = "https://finance.yahoo.com/quote/HLAG.DE/key-statistics?p=HLAG.DE"

link_list = ["https://finance.yahoo.com/quote/HLAG.DE/key-statistics?p=HLAG.DE", "https://finance.yahoo.com/quote/AAD.DE/key-statistics?p=AAD.DE", "https://finance.yahoo.com/quote/AOF.F/key-statistics?p=AOF.F" ]
headers_http = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:99.0) Gecko/20100101 Firefox/99.0"}

In [211]:
"""
This code was used, to extract the Table Headers, which i fill in here hardcoded, because its the same financial Names in every Stock
finance_names = []

#noticed only 50 of 60 headlines were found - 10 have other class name (for no reason) catched them with RegEX -- ("td", class_="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)")
class_pattern = re.compile(r"(^|\s)Pos\(st\) Start\(0\) Bgc\(\$lv2BgColor\) fi-row:h_Bgc\(\$hoverBgColor\) Pend\(10px\)(\s|$)")

column_names = soup.find_all("td", class_=class_pattern)
for element in column_names:
    finance_names.append(element.text)
for idx, element in enumerate(finance_names):
    finance_names[idx] =  element.replace(" ","_")
print(finance_names) """

'\nThis code was used, to extract the Table Headers, which i fill in here hardcoded, because its the same financial Names in every Stock\nfinance_names = []\n\n#noticed only 50 of 60 headlines were found - 10 have other class name (for no reason) catched them with RegEX -- ("td", class_="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)")\nclass_pattern = re.compile(r"(^|\\s)Pos\\(st\\) Start\\(0\\) Bgc\\(\\$lv2BgColor\\) fi-row:h_Bgc\\(\\$hoverBgColor\\) Pend\\(10px\\)(\\s|$)")\n\ncolumn_names = soup.find_all("td", class_=class_pattern)\nfor element in column_names:\n    finance_names.append(element.text)\nfor idx, element in enumerate(finance_names):\n    finance_names[idx] =  element.replace(" ","_")\nprint(finance_names) '

In [212]:
headers_column = ['Market_Cap_(intraday)_', 'Enterprise_Value_', 'Trailing_P/E_', 'Forward_P/E_', 'PEG_Ratio_(5_yr_expected)_', 'Price/Sales_(ttm)', 
                  'Price/Book_(mrq)', 'Enterprise_Value/Revenue_', 'Enterprise_Value/EBITDA_', 'Beta_(5Y_Monthly)_', '52-Week_Change_3', 
                  'S&P500_52-Week_Change_3', '52_Week_High_3', '52_Week_Low_3', '50-Day_Moving_Average_3', '200-Day_Moving_Average_3', 'Avg_Vol_(3_month)_3', 
                  'Avg_Vol_(10_day)_3', 'Shares_Outstanding_5', 'Implied_Shares_Outstanding_6', 'Float_8', '%_Held_by_Insiders_1', '%_Held_by_Institutions_1', 
                  'Shares_Short__4', 'Short_Ratio__4', 'Short_%_of_Float__4', 'Short_%_of_Shares_Outstanding__4', 'Shares_Short_(prior_month_)_4', 
                  'Forward_Annual_Dividend_Rate_4', 'Forward_Annual_Dividend_Yield_4', 'Trailing_Annual_Dividend_Rate_3', 'Trailing_Annual_Dividend_Yield_3', 
                  '5_Year_Average_Dividend_Yield_4', 'Payout_Ratio_4', 'Dividend_Date_3', 'Ex-Dividend_Date_4', 'Last_Split_Factor_2', 'Last_Split_Date_3', 
                  'Fiscal_Year_Ends_', 'Most_Recent_Quarter_(mrq)', 'Profit_Margin_', 'Operating_Margin_(ttm)', 'Return_on_Assets_(ttm)', 'Return_on_Equity_(ttm)', 
                  'Revenue_(ttm)', 'Revenue_Per_Share_(ttm)', 'Quarterly_Revenue_Growth_(yoy)', 'Gross_Profit_(ttm)', 'EBITDA_', 'Net_Income_Avi_to_Common_(ttm)', 
                  'Diluted_EPS_(ttm)', 'Quarterly_Earnings_Growth_(yoy)', 'Total_Cash_(mrq)', 'Total_Cash_Per_Share_(mrq)', 'Total_Debt_(mrq)', 'Total_Debt/Equity_(mrq)', 
                  'Current_Ratio_(mrq)', 'Book_Value_Per_Share_(mrq)', 'Operating_Cash_Flow_(ttm)', 'Levered_Free_Cash_Flow_(ttm)']

In [213]:
data_list = []

In [214]:
for link in link_list:
    r = requests.get(link, headers=headers_http)
    if r.status_code == 200:
        soup = BeautifulSoup(r.content, "html.parser")
        finance_numbers = []
        finanz_zahlen = soup.find_all("td", class_="Fw(500) Ta(end) Pstart(10px) Miw(60px)", string = True)
        for element in finanz_zahlen:
            finance_numbers.append(element.text)



        for idx, element in enumerate(finance_numbers):
            if element.endswith("M"):
                finance_numbers[idx] = float(element[:-1]) * 1e6
            elif element.endswith("B"):
                finance_numbers[idx] = float(element[:-1]) * 1e9
            elif element.endswith("k"):
                finance_numbers[idx] = float(element[:-1]) * 1e3
            elif element.endswith("%"):
                finance_numbers[idx] = element
            elif type(element) == str:
                 finance_numbers[idx] = element
            else:
                finance_numbers[idx] = float(element)
        data_list +=finance_numbers
                
    else: print("Seems like there was an Error")

data_array = np.array(data_list).reshape(3,60)
df = pd.DataFrame(data_array, columns=headers_column)

In [215]:
df

,Market_Cap_(intraday)_,Enterprise_Value_,Trailing_P/E_,Forward_P/E_,PEG_Ratio_(5_yr_expected)_,Price/Sales_(ttm),Price/Book_(mrq),Enterprise_Value/Revenue_,Enterprise_Value/EBITDA_,Beta_(5Y_Monthly)_,...,Diluted_EPS_(ttm),Quarterly_Earnings_Growth_(yoy),Total_Cash_(mrq),Total_Cash_Per_Share_(mrq),Total_Debt_(mrq),Total_Debt/Equity_(mrq),Current_Ratio_(mrq),Book_Value_Per_Share_(mrq),Operating_Cash_Flow_(ttm),Levered_Free_Cash_Flow_(ttm)
0,24960000000.0,21910000000.0,3.88,N/A,N/A,1.13,1.26,1.00,2.51,1.35,...,36.51,-95.00%,6360000000.0,36.17,5460000000.0,27.57%,1.82,112.41,9190000000.0,3970000000.0
1,598620000.0,647520000.0,14.87,N/A,N/A,1.46,4.25,1.50,6.55,1.68,...,7.41,6.20%,19570000.0,3.42,108330000.0,75.62%,0.61,24.63,90850000.0,77550000.0
2,1930000000.0,1890000000.0,71.37,N/A,N/A,14.62,46.97,14.11,41.51,1.23,...,3.44,57.60%,56090000.0,7.05,8660000.0,20.89%,N/A,5.23,N/A,N/A

In [198]:
data_array

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [192]:
pd.DataFrame(data_array, columns=df.columns).columns

Index(['Market_Cap_(intraday)_', 'Enterprise_Value_', 'Trailing_P/E_',
       'Forward_P/E_', 'PEG_Ratio_(5_yr_expected)_', 'Price/Sales_(ttm)',
       'Price/Book_(mrq)', 'Enterprise_Value/Revenue_',
       'Enterprise_Value/EBITDA_', 'Beta_(5Y_Monthly)_', '52-Week_Change_3',
       'S&P500_52-Week_Change_3', '52_Week_High_3', '52_Week_Low_3',
       '50-Day_Moving_Average_3', '200-Day_Moving_Average_3',
       'Avg_Vol_(3_month)_3', 'Avg_Vol_(10_day)_3', 'Shares_Outstanding_5',
       'Implied_Shares_Outstanding_6', 'Float_8', '%_Held_by_Insiders_1',
       '%_Held_by_Institutions_1', 'Shares_Short__4', 'Short_Ratio__4',
       'Short_%_of_Float__4', 'Short_%_of_Shares_Outstanding__4',
       'Shares_Short_(prior_month_)_4', 'Forward_Annual_Dividend_Rate_4',
       'Forward_Annual_Dividend_Yield_4', 'Trailing_Annual_Dividend_Rate_3',
       'Trailing_Annual_Dividend_Yield_3', '5_Year_Average_Dividend_Yield_4',
       'Payout_Ratio_4', 'Dividend_Date_3', 'Ex-Dividend_Date_4',
       'Last_Split_Factor_2', 'Last_Split_Date_3', 'Fiscal_Year_Ends_',
       'Most_Recent_Quarter_(mrq)', 'Profit_Margin_', 'Operating_Margin_(ttm)',
       'Return_on_Assets_(ttm)', 'Return_on_Equity_(ttm)', 'Revenue_(ttm)',
       'Revenue_Per_Share_(ttm)', 'Quarterly_Revenue_Growth_(yoy)',
       'Gross_Profit_(ttm)', 'EBITDA_', 'Net_Income_Avi_to_Common_(ttm)',
       'Diluted_EPS_(ttm)', 'Quarterly_Earnings_Growth_(yoy)',
       'Total_Cash_(mrq)', 'Total_Cash_Per_Share_(mrq)', 'Total_Debt_(mrq)',
       'Total_Debt/Equity_(mrq)', 'Current_Ratio_(mrq)',
       'Book_Value_Per_Share_(mrq)', 'Operating_Cash_Flow_(ttm)',
       'Levered_Free_Cash_Flow_(ttm)'],
      dtype='object')

In [183]:
data_array = np.array(data_list).reshape(3,60)

In [186]:
df = df.append(pd.DataFrame(data_array, columns=df.columns), ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [169]:
df.columns
list(df)
df.count(list(df))

TypeError: unhashable type: 'list'

In [124]:
#retrive the finance_numbers of each Stock and Format them a little, to get a better compare and calculation bases for Numbers 
#that ends with "M" or "B", but don't touch Dates etc.

finance_numbers = []
finanz_zahlen = soup.find_all("td", class_="Fw(500) Ta(end) Pstart(10px) Miw(60px)", string = True)
for element in finanz_zahlen:
    finance_numbers.append(element.text)



for idx, element in enumerate(finance_numbers):
    if element.endswith("M"):
        finance_numbers[idx] = float(element[:-1]) * 1e6
    elif element.endswith("B"):
        finance_numbers[idx] = float(element[:-1]) * 1e9
    elif element.endswith("k"):
        finance_numbers[idx] = float(element[:-1]) * 1e3
    elif element.endswith("%"):
        finance_numbers[idx] = element
    elif type(element) == str:
         finance_numbers[idx] = element
    else:
        finance_numbers[idx] = float(element)


data_list += finance_numbers

for idx, val in enumerate(data_list):
    df

In [207]:
df = pd.DataFrame(data_array, columns=headers_column)

In [148]:
data_array = np.array(data_list).reshape(3,60)
data_array
#df = df.append(pd.DataFrame(data_array, columns = df.columns))

array([['24960000000.0', '21910000000.0', '3.88', 'N/A', 'N/A', '1.13',
        '1.26', '1.00', '2.51', '1.35', '-46.89%', '22.38%', '359.80',
        '103.40', '137.49', '171.56', '23960.0', '24330.0',
        '175760000.0', '176010000.0', '6330000.0', '73.90%', '22.86%',
        'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '63', '44.43%', '63.00',
        '44.43%', '9.82', '172.51%', 'N/A', 'May 04, 2023', 'N/A', 'N/A',
        'Dec 31, 2022', 'Sep 30, 2023', '29.22%', '5.02%', '10.77%',
        '27.34%', '21970000000.0', '124.95', '-57.90%', 'N/A',
        '6840000000.0', '6420000000.0', '36.51', '-95.00%',
        '6360000000.0', '36.17', '5460000000.0', '27.57%', '1.82',
        '112.41', '9190000000.0', '3970000000.0'],
       ['598620000.0', '647520000.0', '14.87', 'N/A', 'N/A', '1.46',
        '4.25', '1.50', '6.55', '1.68', '-11.56%', '22.38%', '139.80',
        '101.40', '117.20', '114.70', '3810.0', '3020.0', '5430000.0',
        '5770000.0', '5410000.0', '0.00%', '64.46%', 'N/A', 'N/A', 'N/A',
        'N/A', 'N/A', '4.5', '4.08%', '4.50', '4.08%', '4.49', '60.73%',
        'N/A', 'May 18, 2023', 'N/A', 'N/A', 'Dec 31, 2022',
        'Sep 30, 2023', '9.79%', '17.82%', '12.29%', '31.26%',
        '432650000.0', '75.66', '9.50%', 'N/A', '78780000.0',
        '42360000.0', '7.41', '6.20%', '19570000.0', '3.42',
        '108330000.0', '75.62%', '0.61', '24.63', '90850000.0',
        '77550000.0'],
       ['1930000000.0', '1890000000.0', '71.37', 'N/A', 'N/A', '14.62',
        '46.97', '14.11', '41.51', '1.23', '48.61%', '22.38%', '257.00',
        '152.80', '221.46', '211.86', '39', '26', '7950000.0',
        '8150000.0', '3950000.0', '50.20%', '24.78%', 'N/A', 'N/A',
        'N/A', 'N/A', 'N/A', '1.83', '0.75%', '0.00', '0.00%', '1.02',
        '53.20%', 'N/A', 'May 02, 2023', '2:1', 'Jun 18, 2020',
        'Dec 31, 2022', 'Sep 30, 2023', '21.38%', '33.84%', 'N/A', 'N/A',
        '142290000.0', '17.90', '30.70%', 'N/A', '46620000.0',
        '30420000.0', '3.44', '57.60%', '56090000.0', '7.05',
        '8660000.0', '20.89%', 'N/A', '5.23', 'N/A', 'N/A']], dtype='<U32')

In [208]:
df

,Market_Cap_(intraday)_,Enterprise_Value_,Trailing_P/E_,Forward_P/E_,PEG_Ratio_(5_yr_expected)_,Price/Sales_(ttm),Price/Book_(mrq),Enterprise_Value/Revenue_,Enterprise_Value/EBITDA_,Beta_(5Y_Monthly)_,...,Diluted_EPS_(ttm),Quarterly_Earnings_Growth_(yoy),Total_Cash_(mrq),Total_Cash_Per_Share_(mrq),Total_Debt_(mrq),Total_Debt/Equity_(mrq),Current_Ratio_(mrq),Book_Value_Per_Share_(mrq),Operating_Cash_Flow_(ttm),Levered_Free_Cash_Flow_(ttm)
0,24960000000.0,21910000000.0,3.88,N/A,N/A,1.13,1.26,1.00,2.51,1.35,...,36.51,-95.00%,6360000000.0,36.17,5460000000.0,27.57%,1.82,112.41,9190000000.0,3970000000.0
1,598620000.0,647520000.0,14.87,N/A,N/A,1.46,4.25,1.50,6.55,1.68,...,7.41,6.20%,19570000.0,3.42,108330000.0,75.62%,0.61,24.63,90850000.0,77550000.0
2,1930000000.0,1890000000.0,71.37,N/A,N/A,14.62,46.97,14.11,41.51,1.23,...,3.44,57.60%,56090000.0,7.05,8660000.0,20.89%,N/A,5.23,N/A,N/A

In [147]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [62]:
type(finance_numbers)
type(df)
df.columns

Index([    'Market_Cap_(intraday)_',          'Enterprise_Value_',
                    'Trailing_P/E_',               'Forward_P/E_',
       'PEG_Ratio_(5_yr_expected)_',          'Price/Sales_(ttm)',
                 'Price/Book_(mrq)',  'Enterprise_Value/Revenue_',
         'Enterprise_Value/EBITDA_',         'Beta_(5Y_Monthly)_',
       ...
                                 50,                           51,
                                 52,                           53,
                                 54,                           55,
                                 56,                           57,
                                 58,                           59],
      dtype='object', length=120)

In [69]:
new_list = [1,2,3]


finance_numbers.index

In [71]:
finance_numbers = []
finanz_zahlen = soup.find_all("td", class_="Fw(500) Ta(end) Pstart(10px) Miw(60px)", string = True)
for element in finanz_zahlen:
    finance_numbers.append(element.text)



for idx, element in enumerate(finance_numbers):
    if element.endswith("M"):
        finance_numbers[idx] = float(element[:-1]) * 1e6
    elif element.endswith("B"):
        finance_numbers[idx] = float(element[:-1]) * 1e9
    elif element.endswith("k"):
        finance_numbers[idx] = float(element[:-1]) * 1e3
    elif element.endswith("%"):
        finance_numbers[idx] = element
    elif type(element) == str:
         finance_numbers[idx] = element
    else:
        finance_numbers[idx] = float(element)

print(finance_numbers)

[24960000000.0, 21910000000.0, '3.88', 'N/A', 'N/A', '1.13', '1.26', '1.00', '2.51', '1.35', '-46.89%', '22.38%', '359.80', '103.40', '137.49', '171.56', 23960.0, 24330.0, 175760000.0, 176010000.0, 6330000.0, '73.90%', '22.86%', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '63', '44.43%', '63.00', '44.43%', '9.82', '172.51%', 'N/A', 'May 04, 2023', 'N/A', 'N/A', 'Dec 31, 2022', 'Sep 30, 2023', '29.22%', '5.02%', '10.77%', '27.34%', 21970000000.0, '124.95', '-57.90%', 'N/A', 6840000000.0, 6420000000.0, '36.51', '-95.00%', 6360000000.0, '36.17', 5460000000.0, '27.57%', '1.82', '112.41', 9190000000.0, 3970000000.0]

In [54]:
finance_names = []
column_names = soup.find_all("td", class_="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)")
for element in column_names:
    finance_names.append(element.text)
for idx, element in enumerate(finance_names):
    finance_names[idx] =  element.replace(" ","_")
print(finance_names)

['Enterprise_Value_', 'Trailing_P/E_', 'Forward_P/E_', 'PEG_Ratio_(5_yr_expected)_', 'Price/Sales_(ttm)', 'Price/Book_(mrq)', 'Enterprise_Value/Revenue_', 'Enterprise_Value/EBITDA_', '52-Week_Change_3', 'S&P500_52-Week_Change_3', '52_Week_High_3', '52_Week_Low_3', '50-Day_Moving_Average_3', '200-Day_Moving_Average_3', 'Avg_Vol_(10_day)_3', 'Shares_Outstanding_5', 'Implied_Shares_Outstanding_6', 'Float_8', '%_Held_by_Insiders_1', '%_Held_by_Institutions_1', 'Shares_Short__4', 'Short_Ratio__4', 'Short_%_of_Float__4', 'Short_%_of_Shares_Outstanding__4', 'Shares_Short_(prior_month_)_4', 'Forward_Annual_Dividend_Yield_4', 'Trailing_Annual_Dividend_Rate_3', 'Trailing_Annual_Dividend_Yield_3', '5_Year_Average_Dividend_Yield_4', 'Payout_Ratio_4', 'Dividend_Date_3', 'Ex-Dividend_Date_4', 'Last_Split_Factor_2', 'Last_Split_Date_3', 'Most_Recent_Quarter_(mrq)', 'Operating_Margin_(ttm)', 'Return_on_Equity_(ttm)', 'Revenue_Per_Share_(ttm)', 'Quarterly_Revenue_Growth_(yoy)', 'Gross_Profit_(ttm)', 'EBITDA_', 'Net_Income_Avi_to_Common_(ttm)', 'Diluted_EPS_(ttm)', 'Quarterly_Earnings_Growth_(yoy)', 'Total_Cash_Per_Share_(mrq)', 'Total_Debt_(mrq)', 'Total_Debt/Equity_(mrq)', 'Current_Ratio_(mrq)', 'Book_Value_Per_Share_(mrq)', 'Levered_Free_Cash_Flow_(ttm)']

In [49]:
value = "May 04, 2023"
index_of_element = finance_numbers.index(value)

print("Index of", index_of_element)

for li in range(len(finance_numbers)):
    finance_numbers[li] = finance_numbers[li].replace("N/A", "0")

Index of 35

In [50]:
type(finance_numbers[35])

str

['Enterprise Value ',
 'Trailing P/E ',
 'Forward P/E ',
 'PEG Ratio (5 yr expected) ',
 'Price/Sales (ttm)',
 'Price/Book (mrq)',
 'Enterprise Value/Revenue ',
 'Enterprise Value/EBITDA ',
 '52-Week Change 3',
 'S&P500 52-Week Change 3',
 '52 Week High 3',
 '52 Week Low 3',
 '50-Day Moving Average 3',
 '200-Day Moving Average 3',
 'Avg Vol (10 day) 3',
 'Shares Outstanding 5',
 'Implied Shares Outstanding 6',
 'Float 8',
 '% Held by Insiders 1',
 '% Held by Institutions 1',
 'Shares Short  4',
 'Short Ratio  4',
 'Short % of Float  4',
 'Short % of Shares Outstanding  4',
 'Shares Short (prior month ) 4',
 'Forward Annual Dividend Yield 4',
 'Trailing Annual Dividend Rate 3',
 'Trailing Annual Dividend Yield 3',
 '5 Year Average Dividend Yield 4',
 'Payout Ratio 4',
 'Dividend Date 3',
 'Ex-Dividend Date 4',
 'Last Split Factor 2',
 'Last Split Date 3',
 'Most Recent Quarter (mrq)',
 'Operating Margin (ttm)',
 'Return on Equity (ttm)',
 'Revenue Per Share (ttm)',
 'Quarterly Revenue Growth (yoy)',
 'Gross Profit (ttm)',
 'EBITDA ',
 'Net Income Avi to Common (ttm)',
 'Diluted EPS (ttm)',
 'Quarterly Earnings Growth (yoy)',
 'Total Cash Per Share (mrq)',
 'Total Debt (mrq)',
 'Total Debt/Equity (mrq)',
 'Current Ratio (mrq)',
 'Book Value Per Share (mrq)',
 'Levered Free Cash Flow (ttm)']

In [5]:


## Extracting the desired finance Numbers (rows) with Beautifulsoup from the yahoo Website
finance_numbers = []
finanz_zahlen = soup.find_all("td", class_="Fw(500) Ta(end) Pstart(10px) Miw(60px)", string = True)
for element in finanz_zahlen:
    finance_list.append(element)


## Extracting the desired column names with Beautifulsoup from the yahoo Website
finance_names = []
column_names = soup.find_all("td", class_="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)")
for element in column_names:
    finance_names.append(element)

NameError: name 'finance_list' is not defined

In [7]:
<tr class="Bxz(bb) H(36px) BdY Bdc($seperatorColor) fi-row Bgc($hoverBgColor):h"><td class="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)  Miw(140px)"><span>Market Cap (intraday)</span> <sup aria-label=""></sup></td><td class="Fw(500) Ta(end) Pstart(10px) Miw(60px)">24.96B</td></tr>

SyntaxError: invalid syntax (<ipython-input-7-3f6647d1fe6a>, line 1)

In [6]:
finance_names = soup.find_all("td", class_="Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)")
for element in test1:
    print(element.text)

NameError: name 'test1' is not defined

In [ ]:
class="Bxz(bb) H(36px) BdB Bdbc($seperatorColor) fi-row Bgc($hoverBgColor):h"
"Pos(st) Start(0) Bgc($lv2BgColor) fi-row:h_Bgc($hoverBgColor) Pend(10px)"